<main class="page__main">

<section class="section__form">
  <form action="/signup" method="post" class="form-container">
    <div class="form-wrapper">

    <div class=form-element>
      <label for="four">
        <input
          id="four"
          type="radio"
          value= "Four"
          name="numbers"
        />
        4
      </label>
    </div>

    <div class=form-element>
      <label for="six">
        <input
          id="six"
          type="radio"
          value="six"
          name="numbers"
        />
        6
      </label>
    </div>

    <div class=form-element>
      <label for="eight">
        <input
          id="eight"
          type="radio"
          value= "eight"
          name="numbers"
        />
        8
      </label>
    </div>
  </form>
</section>
</div>
